{
  "default": {
    "PORT": 
  },
  "production": {
    "GOOGLE_CLIENT_ID": ,
    "GOOGLE_CLIENT_SECRET": ,
    "GOOGLE_API_REDIRECT":,
    "ALLOWED_EMAILS": [
      "machingclee@gmail.com",
      "james.lee@wonderbricks.com"
    ],
    "JWT_SECRET": ,
    "FRONTEND_URL": "http://localhost:3000"
  }
}